
$large: var(--font-size-large);
$normal: var(--font-size-normal);
$small: var(--font-size-small);

$border: var(--border);
$background: var(--background-color);
$header: var(--header-color);

$mobile: var(--mobile-max-width);